/*
#top {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #cc0000;
    left: 25px;
    z-index: 100000;
}
#bottom {
	position: relative;
	height:25px;
	width: 100px;
	background-color: #cc0000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	top: -25px;
	z-index: 100000;
}
#fwheel {
	position: relative;
	height:20px;
	width:20px;
	border-radius: 100%;
	background-color: black;
	top: -35px;
	left: 5px;
	z-index: 100000;
}
#bwheel {
	position: relative;
	height:20px;
	width:20px;
	border-radius: 100%;
	background-color: black;
	top: -55px;
	left: 75px;
	z-index: 100000;
}

#chat-header .divider {left: 50px; width: 295px}
#user-lists .header .divider.left {width: 50px}
#user-lists .header .divider.right {width: 210px}
#waitlist .header .divider.left {width: 135px}
#waitlist .header .divider.right {width: 110px}
*/
#car {
	left: 287px;
	width: 58px;
}
#chat-button {
    left: 0;
    width: 50px;
}

#users-button {
    left: 50px;
    width: 85px;
}
#waitlist-button {
    left: 135px;
    width: 100px;
}
#friends-button {
    left: 236px;
    width: 50px;
}
#car.selected i {
    background: url(http://i59.tinypic.com/eryd1l.jpg) !important;
}

#car:hover i {
    background: url(http://i59.tinypic.com/eryd1l.jpg) !important;
}
#car i {
position: relative;
top: 13px;
display: inline-block;
margin: 0 auto;
}
#bsc-menu {
    position:absolute;
    top:0;
    z-index:3;
    display:none;
    width:100%;
    height:100%
}
#bsc-menu .header {
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:46px;
    border-bottom:#1c1f25 1px solid
}
#bsc-menu .header .title {
    position:relative;
    top:11px;
    margin-left:17px;
    font-size:18px
}
#chat-header .divider {
    position: absolute;
    top: 0;
    left: 50px;
    width: 295px;
    height: 1px;
    background: #1c1f25;
}
#user-lists .header .divider.left {
    width: 50px
}
#user-lists .header .divider.right {
    width: 210px;
}
#waitlist .header .divider.left {
    width: 135px;
}
#waitlist .header .divider.right {
    width: 110px;
}

.app-right .friends .list-header .divider {
    position: absolute;
    top: 0;
    width: 235px;
    left: 0;
    height: 1px;
    background: #1c1f25;
}

.app-right .friends .list-header .dividerr {
    position: absolute;
    top: 0;
    width: 58px;
    right: 0;
    height: 1px;
    background: #1c1f25;
}

#bsc-menu .header .divider {
    position: absolute;
    top: 0;
    width: 286px;
    left: 0;
    height: 1px;
    background: #1c1f25;
}


/*
.header .divider {
   left: 0;
   width: 285px;
}
*/
